{
  "project_ID": "infra-NNNNNN",
  "zone": "europe-west1-b",
  "source_image_family": "ubuntu-1604-lts",
  "network": "default",
  "machine_type": "n1-standard-1",
  "disk_type": "pd-standard",
  "disk_size": "10"
}
