# IDE internal files
.project
.sw[po]
.DS_Store
.vscode
.idea

# Packer custom vars
variables.json

# Terraform internal files
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible tmp files
*.retry
# Ansible community roles
jdauphant.nginx
ansible/roles/db

# Vagrant & Molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

# Python virtual env
venv/

credentials.json
