USERNAME=user-login

COMPOSE_PROJECT_NAME=reddit

PORT_PUMA=9292
PORT_UI=9292

# If version is blank - 'latest' will be used
VERSION_MONGO=
VERSION_UI=
VERSION_COMMENT=
VERSION_POST=
VERSION_PROMETHEUS=
VERSION_NODE_EXPORTER=v0.15.2
VERSION_MONGODB_EXPORTER=0.11.0
