project              = "docker-276915"
node_disk_size_gb    = "20"
machine_type         = "g1-small"
region               = "europe-west1"
zone                 = "europe-west1-b"
cluster_name         = "cluster-1"
node_count           = "2"
storage_size         = "25"
legacy_authorization = false
